In [1]:
import pandas as pd

In [2]:
# Reading the data 
#file path are different due usage of Google colab

crop = pd.read_csv('/content/cpdata.csv')
fert = pd.read_csv('/content/Fertilizer.csv')

In [3]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
fert.head()

   Unnamed: 0              Crop   N   P   K   pH
0           0              Rice  80  40  40  5.5
1           1    Jowar(Sorghum)  80  40  40  5.5
2           2       Barley(JAV)  70  40  45  5.5
3           3             Maize  80  40  20  5.5
4           4  Ragi( naachnnii)  50  40  20  5.5

In [5]:
# Function for lowering the cases
def change_case(i):
    i = i.replace(" ", "")
    i = i.lower()
    return i

In [6]:
fert['Crop'] = fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [7]:
#make some changes in ferttilizer dataset

fert['Crop'] = fert['Crop'].replace('mungbeans','mungbean')
fert['Crop'] = fert['Crop'].replace('lentils(masoordal)','lentil')
fert['Crop'] = fert['Crop'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop'] = fert['Crop'].replace('mothbean(matki)','mothbeans')
fert['Crop'] = fert['Crop'].replace('chickpeas(channa)','chickpea')

In [8]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [9]:
crop['label'].unique()

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [10]:
fert.head()

   Unnamed: 0             Crop   N   P   K   pH
0           0             rice  80  40  40  5.5
1           1   jowar(sorghum)  80  40  40  5.5
2           2      barley(jav)  70  40  45  5.5
3           3            maize  80  40  20  5.5
4           4  ragi(naachnnii)  50  40  20  5.5

In [11]:
del fert['Unnamed: 0']

In [12]:
fert['Crop'].unique()

array(['rice', 'jowar(sorghum)', 'barley(jav)', 'maize',
       'ragi(naachnnii)', 'chickpea', 'frenchbeans(farasbi)',
       'favabeans(papdi-val)', 'limabeans(pavta)', 'clusterbeans(gavar)',
       'soyabean', 'blackeyedbeans(chawli)', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'greenpeas', 'horsegram(kulthi)',
       'blackgram', 'rapeseed(mohri)', 'corianderseeds', 'mustardseeds',
       'sesameseed', 'cuminseeds', 'lentil', 'brinjal', 'beetroot',
       'bittergourd', 'bottlegourd', 'capsicum', 'cabbage', 'carrot',
       'cauliflower', 'cucumber', 'corianderleaves', 'curryleaves',
       'drumstick–moringa', 'chili', 'ladyfinger', 'mushroom', 'onion',
       'potato', 'pumpkin', 'radish', 'olive', 'sweetpotato',
       'fenugreekleaf(methi)', 'spinach', 'ridgegourd',
       'gooseberry(amla)', 'jambun(syzygiumcumini)',
       'ziziphusmauritiana(bor)', 'garciniaindica(kokam)', 'tamarind',
       'tapioca(suran)', 'garlic', 'lemon', 'tomato', 'ashgourd',
       'pineapple', 'pomegranate', 'banana', 'mango', 'grapes',
       'jackfruit', 'guava', 'watermelon', 'muskmelon', 'apricot',
       'apple', 'chickoo', 'custardapple', 'dates', 'figs', 'orange',
       'papaya', 'aniseed', 'asafoetida', 'bayleaf', 'blackpepper',
       'cardamom', 'cinnamon', 'cloves', 'jaiphal(nutmeg)', 'ginger',
       'turmeric', 'cashewnuts', 'raisins', 'coconut', 'almondnut',
       'arecanut', 'pistachionut', 'lemongrass', 'cotton', 'jute',
       'coffee', 'sunflower'], dtype=object)

In [13]:
crop['label']

0             rice
1             rice
2             rice
3             rice
4             rice
           ...
3095    watermelon
3096    watermelon
3097    watermelon
3098    watermelon
3099    watermelon
Name: label, Length: 3100, dtype: object

In [14]:
extract_labels = []

for i in fert['Crop'].unique():
    if i in crop['label'].unique():
        extract_labels.append(i)

In [15]:
extract_labels

['rice',
 'maize',
 'chickpea',
 'kidneybeans',
 'pigeonpeas',
 'mothbeans',
 'mungbean',
 'blackgram',
 'lentil',
 'pomegranate',
 'banana',
 'mango',
 'grapes',
 'watermelon',
 'muskmelon',
 'apple',
 'orange',
 'papaya',
 'coconut',
 'cotton',
 'jute',
 'coffee']

In [16]:

# using extract labesl on crop to get all the data related to those labels
new_crop = pd.DataFrame(columns = crop.columns)
new_fert = pd.DataFrame(columns = fert.columns)

In [17]:
for label in extract_labels:
    new_crop = new_crop.append(crop[crop['label'] == label])

In [18]:

for label in extract_labels:
    new_fert = new_fert.append(fert[fert['Crop'] == label].iloc[0])

In [19]:
new_crop

     temperature   humidity        ph    rainfall   label
0      20.879744  82.002744  6.502985  202.935536    rice
1      21.770462  80.319644  7.038096  226.655537    rice
2      23.004459  82.320763  7.840207  263.964248    rice
3      26.491096  80.158363  6.980401  242.864034    rice
4      20.130175  81.604873  7.628473  262.717340    rice
..           ...        ...       ...         ...     ...
895    26.774637  66.413269  6.780064  177.774507  coffee
896    27.417112  56.636362  6.086922  127.924610  coffee
897    24.131797  67.225123  6.362608  173.322839  coffee
898    26.272418  52.127394  6.758793  127.175293  coffee
899    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 5 columns]

In [20]:
new_fert

           Crop    N    P    K   pH
0          rice   80   40   40  5.5
3         maize   80   40   20  5.5
5      chickpea   40   60   80  5.5
12  kidneybeans   20   60   20  5.5
13   pigeonpeas   20   60   20  5.5
14    mothbeans   20   40   20  5.5
15     mungbean   20   40   20  5.5
18    blackgram   40   60   20  5.0
24       lentil   20   60   20  5.5
60  pomegranate   20   10   40  5.5
61       banana  100   75   50  6.5
62        mango   20   20   30  5.0
63       grapes   20  125  200  4.0
66   watermelon  100   10   50  5.5
67    muskmelon  100   10   50  5.5
69        apple   20  125  200  6.5
74       orange   20   10   10  4.0
75       papaya   50   50   50  6.0
88      coconut   20   10   30  5.0
93       cotton  120   40   20  5.5
94         jute   80   40   40  5.5
95       coffee  100   20   30  5.5

In [21]:
new_fert.to_csv('/content/FertilizerData.csv')
new_crop.to_csv('/content/MergeFileCrop.csv')